@import url(https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);




body,
input,
textarea,
.mbr-section-text,
.mbr-company .list-group-text,
.panel-body {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.alert,
.mbr-section-title,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Arvo', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Arvo', serif;
}
.btn {
  border-radius: 2.6em;
}
.mbr-gallery-filter ul li {
  border-radius: 2.6em;
}
.btn-sm,
.mbr-section-subtitle,
.mbr-cards .card-subtitle,
.nav-tabs .nav-link,
.mbr-testimonial .card-block,
.table th {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Arvo', serif;
}
.mbr-author-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Arvo', serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #2ecc71 !important;
}
.bg-info {
  background-color: #3498db !important;
}
.bg-warning {
  background-color: #ff3636 !important;
}
.bg-danger {
  background-color: #e74c3c !important;
}
.btn-primary {
  background-color: #000000;
  border-color: #000000;
  color: #000000;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
}
.btn-secondary {
  background-color: #9b59b6;
  border-color: #9b59b6;
  color: #000000;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #b07cc6;
  border-color: #b07cc6;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b07cc6 !important;
  border-color: #b07cc6 !important;
}
.btn-info {
  background-color: #3498db;
  border-color: #3498db;
  color: #000000;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #5faee3;
  border-color: #5faee3;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5faee3 !important;
  border-color: #5faee3 !important;
}
.btn-success {
  background-color: #2ecc71;
  border-color: #2ecc71;
  color: #000000;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #54d98c;
  border-color: #54d98c;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #54d98c !important;
  border-color: #54d98c !important;
}
.btn-warning {
  background-color: #ff3636;
  border-color: #ff3636;
  color: #000000;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #ff6969;
  border-color: #ff6969;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ff6969 !important;
  border-color: #ff6969 !important;
}
.btn-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #000000;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ed7669;
  border-color: #ed7669;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ed7669 !important;
  border-color: #ed7669 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #000000 !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #9752b3;
  color: #9752b3;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #fff;
  background-color: #9b59b6;
  border-color: #9b59b6;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #000000 !important;
  background-color: #9b59b6 !important;
  border-color: #9b59b6 !important;
}
.btn-info-outline {
  background: none;
  border-color: #2b94d9;
  color: #2b94d9;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #000000 !important;
  background-color: #3498db !important;
  border-color: #3498db !important;
}
.btn-success-outline {
  background: none;
  border-color: #2cc46c;
  color: #2cc46c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #2ecc71 !important;
  border-color: #2ecc71 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #ff2c2c;
  color: #ff2c2c;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #fff;
  background-color: #ff3636;
  border-color: #ff3636;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #000000 !important;
  background-color: #ff3636 !important;
  border-color: #ff3636 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e64433;
  color: #e64433;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #000000 !important;
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
}
.btn-primary.btn-text {
  color: #000000;
  background: none;
  border: none;
}
.btn-primary.btn-text:hover,
.btn-primary.btn-text:focus,
.btn-primary.btn-text.focus,
.btn-primary.btn-text:active,
.btn-primary.btn-text.active {
  color: #1a1a1a;
  background: none !important;
  border: none !important;
}
.btn-secondary.btn-text {
  color: #9b59b6;
  background: none;
  border: none;
}
.btn-secondary.btn-text:hover,
.btn-secondary.btn-text:focus,
.btn-secondary.btn-text.focus,
.btn-secondary.btn-text:active,
.btn-secondary.btn-text.active {
  color: #b07cc6;
  background: none !important;
  border: none !important;
}
.btn-info.btn-text {
  color: #3498db;
  background: none;
  border: none;
}
.btn-info.btn-text:hover,
.btn-info.btn-text:focus,
.btn-info.btn-text.focus,
.btn-info.btn-text:active,
.btn-info.btn-text.active {
  color: #5faee3;
  background: none !important;
  border: none !important;
}
.btn-success.btn-text {
  color: #2ecc71;
  background: none;
  border: none;
}
.btn-success.btn-text:hover,
.btn-success.btn-text:focus,
.btn-success.btn-text.focus,
.btn-success.btn-text:active,
.btn-success.btn-text.active {
  color: #54d98c;
  background: none !important;
  border: none !important;
}
.btn-warning.btn-text {
  color: #ff3636;
  background: none;
  border: none;
}
.btn-warning.btn-text:hover,
.btn-warning.btn-text:focus,
.btn-warning.btn-text.focus,
.btn-warning.btn-text:active,
.btn-warning.btn-text.active {
  color: #ff6969;
  background: none !important;
  border: none !important;
}
.btn-danger.btn-text {
  color: #e74c3c;
  background: none;
  border: none;
}
.btn-danger.btn-text:hover,
.btn-danger.btn-text:focus,
.btn-danger.btn-text.focus,
.btn-danger.btn-text:active,
.btn-danger.btn-text.active {
  color: #ed7669;
  background: none !important;
  border: none !important;
}
.btn-black.btn-text {
  color: #000000;
  background: none;
  border: none;
}
.btn-black.btn-text:hover,
.btn-black.btn-text:focus,
.btn-black.btn-text.focus,
.btn-black.btn-text:active,
.btn-black.btn-text.active {
  color: #1a1a1a;
  background: none !important;
  border: none !important;
}
.btn-white.btn-text {
  color: #ffffff;
  background: none;
  border: none;
}
.btn-white.btn-text:hover,
.btn-white.btn-text:focus,
.btn-white.btn-text.focus,
.btn-white.btn-text:active,
.btn-white.btn-text.active {
  color: #ffffff;
  background: none !important;
  border: none !important;
}
.text-primary {
  color: #000000 !important;
}
.text-success {
  color: #2ecc71 !important;
}
.text-info {
  color: #3498db !important;
}
.text-warning {
  color: #ff3636 !important;
}
.text-danger {
  color: #e74c3c !important;
}
.alert-success {
  background-color: #2ecc71;
}
.alert-info {
  background-color: #3498db;
}
.alert-warning {
  background-color: #ff3636;
}
.alert-danger {
  background-color: #e74c3c;
}
.btn-social {
  border-color: #000000;
}
.btn-social:hover {
  background: #000000;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #000000;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #000000;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #000000;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #000000;
}
.lead a {
  color: #000000;
}
.lead a:hover {
  color: #1a1a1a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d1f5e0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e1f0fa;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdf3f2;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000000;
}
.scrollToTop_wraper {
  display: none;
}
/*colorM*/
/*nav-tabs*/
.header5 .nav-tabs .nav-link:after {
  background: #000000;
}
.header9 .nav-tabs .nav-link.active:after {
  background: #000000;
  color: #222;
}
/*end-nav-tabs*/
/*mbr-arrow next and toTop*/
.mbr-arrow a {
  border-radius: 50% !important;
}
.mbr-arrow-up a {
  border-radius: 50% !important;
}
.mbr-arrow a,
.mbr-arrow-up a {
  background: rgba(0, 0, 0, 0.6);
  color: #000;
}
.mbr-arrow a:hover,
.mbr-arrow-up a:hover {
  background: #0d0d0d;
}
/*end mbr-arrow next and toTop*/
/*features8*/
.card .card-number {
  background: #000000;
}
/*features14*/
.features13 .card .card-number,
.features14 .card .card-number {
  background: transparent;
}
/*features15*/
.features15 .card-block:before {
  border-color: rgba(0, 0, 0, 0.5);
}
/*features16*/
.features16 .mbr-section-subtitle:before {
  background: #000000;
}
/*slider elements*/
.mbr-slider .carousel-control:hover {
  background: #000000;
}
.mbr-slider .carousel-indicators .active {
  background: #000000;
}
/*gallery*/
.mbr-gallery .modal .close {
  border-color: #000000;
}
.mbr-gallery .modal .close:hover {
  background: #000000;
}
.mbr-gallery-filter li.active {
  border-color: #000000;
  color: #000;
}
.mbr-gallery-filter li:hover {
  background: #1a1a1a;
  color: #000;
}
.mbr-gallery .mbr-gallery-item:hover > div::before {
  background: rgba(0, 0, 0, 0.5);
}
.mbr-gallery .mbr-gallery-item:hover {
  background: #000000;
}
/*end gallery*/
/*blockquote*/
blockquote {
  border-left: 3px solid #000000;
}
/*content4*/
.content4 p {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
/*image2, video2*/
.image1 .mbr-figure-caption,
.video1 .mbr-figure-caption,
.image2 .mbr-figure-caption,
.video2 .mbr-figure-caption {
  background-color: #000000;
}
/* progress bar */
.progressbar .progress-primary[value]::-webkit-progress-value {
  background-color: #000000;
}
.progressbar .progress-primary[value]::-moz-progress-bar {
  background-color: #000000;
}
.progressbar .progress-primary[value]::-ms-fill {
  background-color: #000000;
}
@media screen and (min-width: 0\0) {
  .progressbar .progress-primary .progress-bar {
    background-color: #000000;
  }
}
.progressbar .progressbar-number {
  background: #1a1a1a;
}
/*countdown*/
.countdown .period {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.countdown .number {
  font-family: 'Arvo', serif;
}
.countdown1 .number-wrap {
  border-color: #000000;
}
.countdown2 .bottom1 {
  background: #1a1a1a;
}
.countdown2 .bottom2 {
  background: #000000;
}
/*accordion*/
.accordion .panel-heading {
  background: #1a1a1a;
  border-bottom: 1px solid #000000;
}
.accordion .panel-heading:hover {
  background: #000000;
}
.accordion .accordion-group .panel:last-child:after {
  background: #000000;
}
/* news */
.news__card:hover {
  background: #000000;
}
/*footer*/
.footer1 .footer-list a:hover {
  color: #000000;
}
.shop1 .shop-item-price {
  font-family: 'Montserrat', sans-serif;
}
.shop1 .mbr-gallery-item:hover .item_overlay {
  background: #000000;
  opacity: 0.2;
}
.team1 .title1,
.person-info .title1,
.team1 .title2,
.person-info .title2,
.team1 .title3,
.person-info .title3,
.team1 .title4,
.person-info .title4 {
  font-family: 'Arvo', serif;
}
.team1 .subtitle1,
.person-info .subtitle1,
.team1 .subtitle2,
.person-info .subtitle2,
.team1 .subtitle3,
.person-info .subtitle3,
.team1 .subtitle4,
.person-info .subtitle4 {
  font-family: 'Montserrat', sans-serif;
}
.team1 .text1,
.person-info .text1,
.team1 .text2,
.person-info .text2,
.team1 .text3,
.person-info .text3,
.team1 .text4,
.person-info .text4 {
  font-family: 'Open Sans', sans-serif;
}
.person-info .subtitle1,
.person-info .subtitle2,
.person-info .subtitle3,
.person-info .subtitle4 {
  color: #000000;
}
.animated-bg1 .text {
  font-family: 'Open Sans', sans-serif;
}
.features9 .timeline-panel h4 {
  font-family: 'Arvo', serif;
}
.features9 .timeline-panel p {
  font-family: 'Open Sans', sans-serif;
}
.features9 .date-normal p {
  font-family: 'Montserrat', sans-serif;
}
.features9 .date-inverted p {
  font-family: 'Montserrat', sans-serif;
}
.form-control {
  background: #f5f5f5;
  padding: 0.8rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
/*end colorM*/
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Arvo', serif;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .link:focus {
  color: #000000;
}
#menu-0 .dropdown-item:hover::before,
#menu-0 .dropdown-item:focus::before {
  background: #000000;
}
#menu-0 .dropdown-item:hover,
#menu-0 .dropdown-item:focus {
  color: #ffffff;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-2 .display-1 {
  font-weight: 700;
}
#header3-2 .lead {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
#header3-2 .mbr-section-title {
  text-align: center;
  color: #ff3636;
}
#header3-2 .mbr-section-subtitle {
  text-align: left;
  font-size: 16px;
}
#header4-3 {
  
  
  
  
}
#header4-3 .display-1 {
  font-weight: 700;
}
#header4-3 .lead {
  color: #fff;
  /*text-transform: uppercase;*/
  margin-bottom: 0;
}
#header4-3 .mbr-section-subtitle {
  text-align: left;
  color: #000000;
}
#header4-3 .mbr-section-title {
  color: #ff3636;
}
#header4-5 .display-1 {
  font-weight: 700;
}
#header4-5 .lead {
  color: #fff;
  /*text-transform: uppercase;*/
  margin-bottom: 0;
}
#header4-5 .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
#header4-5 .mbr-section-title {
  color: #000000;
}
#features1-6 .mbr-section-title {
  font-weight: 700;
  text-align: left;
  color: #ff3636;
}
#features1-6 .mbr-section-subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}
#image1-i {
  background-color: #000;
}
.cid-rRWH212GPg {
  padding-top: 60px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rRWH212GPg .mbr-section-title {
  margin-bottom: 0;
  color: #ff3636;
  text-align: center;
}
.cid-rRWH212GPg .mbr-iconfont {
  color: #ffffff;
  font-size: 1rem;
}
.cid-rRWH212GPg .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rRWH212GPg .mbr-iconfont:hover {
  color: #ff3636;
}
.cid-rRWH212GPg .image-wrap {
  position: relative;
}
.cid-rRWH212GPg .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rRWH212GPg .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
  font-size: 16px;
}
.cid-rRWH212GPg .card-wrap {
  margin-bottom: 3rem;
}
.cid-rRWH212GPg .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rRWH212GPg .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rRWH212GPg .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rRWH212GPg .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rRWH212GPg .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rRWH212GPg .img-overlay {
  background: linear-gradient(transparent, #000000);
  pointer-events: none;
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rRWH212GPg .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rRWH212GPg .mbr-role {
  color: #e96188;
}
.cid-rRWH212GPg .mbr-text {
  color: #767676;
}
.cid-rRWH212GPg .mbr-name {
  text-align: left;
}
.cid-rRWHkpGbs4 {
  padding-top: 30px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rRWHkpGbs4 .mbr-section-title {
  margin-bottom: 0;
  color: #ff3636;
  text-align: center;
}
.cid-rRWHkpGbs4 .mbr-iconfont {
  color: #ffffff;
  font-size: 1rem;
}
.cid-rRWHkpGbs4 .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rRWHkpGbs4 .mbr-iconfont:hover {
  color: #ff3636;
}
.cid-rRWHkpGbs4 .image-wrap {
  position: relative;
}
.cid-rRWHkpGbs4 .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rRWHkpGbs4 .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
  font-size: 16px;
}
.cid-rRWHkpGbs4 .card-wrap {
  margin-bottom: 3rem;
}
.cid-rRWHkpGbs4 .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rRWHkpGbs4 .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rRWHkpGbs4 .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rRWHkpGbs4 .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rRWHkpGbs4 .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rRWHkpGbs4 .img-overlay {
  background: linear-gradient(transparent, #232323);
  pointer-events: none;
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rRWHkpGbs4 .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rRWHkpGbs4 .mbr-role {
  color: #e96188;
}
.cid-rRWHkpGbs4 .mbr-text {
  color: #767676;
}
.cid-rRWHkpGbs4 .mbr-name {
  text-align: left;
}
.cid-rRWHHbjKk1 {
  padding-top: 30px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rRWHHbjKk1 .mbr-section-title {
  margin-bottom: 0;
  color: #ff3636;
  text-align: center;
}
.cid-rRWHHbjKk1 .mbr-iconfont {
  color: #ffffff;
  font-size: 1rem;
}
.cid-rRWHHbjKk1 .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rRWHHbjKk1 .mbr-iconfont:hover {
  color: #ff3636;
}
.cid-rRWHHbjKk1 .image-wrap {
  position: relative;
}
.cid-rRWHHbjKk1 .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rRWHHbjKk1 .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
  font-size: 16px;
}
.cid-rRWHHbjKk1 .card-wrap {
  margin-bottom: 3rem;
}
.cid-rRWHHbjKk1 .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rRWHHbjKk1 .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rRWHHbjKk1 .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rRWHHbjKk1 .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rRWHHbjKk1 .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rRWHHbjKk1 .img-overlay {
  background: linear-gradient(transparent, #232323);
  pointer-events: none;
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rRWHHbjKk1 .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rRWHHbjKk1 .mbr-role {
  color: #e96188;
}
.cid-rRWHHbjKk1 .mbr-text {
  color: #767676;
}
.cid-rRWHHbjKk1 .mbr-name {
  text-align: left;
}
.cid-rRWIe8DK4P {
  padding-top: 30px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rRWIe8DK4P .mbr-section-title {
  margin-bottom: 0;
  color: #ff3636;
  text-align: center;
}
.cid-rRWIe8DK4P .mbr-iconfont {
  color: #ffffff;
  font-size: 1rem;
}
.cid-rRWIe8DK4P .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rRWIe8DK4P .mbr-iconfont:hover {
  color: #ff3636;
}
.cid-rRWIe8DK4P .image-wrap {
  position: relative;
}
.cid-rRWIe8DK4P .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rRWIe8DK4P .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
  font-size: 16px;
}
.cid-rRWIe8DK4P .card-wrap {
  margin-bottom: 3rem;
}
.cid-rRWIe8DK4P .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rRWIe8DK4P .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rRWIe8DK4P .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rRWIe8DK4P .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rRWIe8DK4P .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rRWIe8DK4P .img-overlay {
  background: linear-gradient(transparent, #232323);
  pointer-events: none;
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rRWIe8DK4P .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rRWIe8DK4P .mbr-role {
  color: #e96188;
}
.cid-rRWIe8DK4P .mbr-text {
  color: #767676;
}
.cid-rRWIe8DK4P .mbr-name {
  text-align: left;
}
.cid-rRWItp4np7 {
  padding-top: 30px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rRWItp4np7 .mbr-section-title {
  margin-bottom: 0;
  color: #ff3636;
  text-align: center;
}
.cid-rRWItp4np7 .mbr-iconfont {
  color: #ffffff;
  font-size: 1rem;
}
.cid-rRWItp4np7 .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rRWItp4np7 .mbr-iconfont:hover {
  color: #ff3636;
}
.cid-rRWItp4np7 .image-wrap {
  position: relative;
}
.cid-rRWItp4np7 .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rRWItp4np7 .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
  font-size: 16px;
}
.cid-rRWItp4np7 .card-wrap {
  margin-bottom: 3rem;
}
.cid-rRWItp4np7 .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rRWItp4np7 .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rRWItp4np7 .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rRWItp4np7 .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rRWItp4np7 .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rRWItp4np7 .img-overlay {
  background: linear-gradient(transparent, #232323);
  pointer-events: none;
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rRWItp4np7 .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rRWItp4np7 .mbr-role {
  color: #e96188;
}
.cid-rRWItp4np7 .mbr-text {
  color: #767676;
}
.cid-rRWItp4np7 .mbr-name {
  text-align: left;
}
.cid-rRWIFx0Py7 {
  padding-top: 30px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rRWIFx0Py7 .mbr-section-title {
  margin-bottom: 0;
  color: #ff3636;
  text-align: center;
}
.cid-rRWIFx0Py7 .mbr-iconfont {
  color: #ffffff;
  font-size: 1rem;
}
.cid-rRWIFx0Py7 .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rRWIFx0Py7 .mbr-iconfont:hover {
  color: #ff3636;
}
.cid-rRWIFx0Py7 .image-wrap {
  position: relative;
}
.cid-rRWIFx0Py7 .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rRWIFx0Py7 .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
  font-size: 16px;
}
.cid-rRWIFx0Py7 .card-wrap {
  margin-bottom: 3rem;
}
.cid-rRWIFx0Py7 .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rRWIFx0Py7 .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rRWIFx0Py7 .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rRWIFx0Py7 .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rRWIFx0Py7 .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rRWIFx0Py7 .img-overlay {
  background: linear-gradient(transparent, #232323);
  pointer-events: none;
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rRWIFx0Py7 .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rRWIFx0Py7 .mbr-role {
  color: #e96188;
}
.cid-rRWIFx0Py7 .mbr-text {
  color: #767676;
}
.cid-rRWIFx0Py7 .mbr-name {
  text-align: left;
}
.cid-rRWISseEAM {
  padding-top: 30px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rRWISseEAM .mbr-section-title {
  margin-bottom: 0;
  color: #ff3636;
  text-align: center;
}
.cid-rRWISseEAM .mbr-iconfont {
  color: #ffffff;
  font-size: 1rem;
}
.cid-rRWISseEAM .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rRWISseEAM .mbr-iconfont:hover {
  color: #ff3636;
}
.cid-rRWISseEAM .image-wrap {
  position: relative;
}
.cid-rRWISseEAM .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rRWISseEAM .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
  font-size: 16px;
}
.cid-rRWISseEAM .card-wrap {
  margin-bottom: 3rem;
}
.cid-rRWISseEAM .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rRWISseEAM .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rRWISseEAM .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rRWISseEAM .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rRWISseEAM .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rRWISseEAM .img-overlay {
  background: linear-gradient(transparent, #232323);
  pointer-events: none;
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rRWISseEAM .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rRWISseEAM .mbr-role {
  color: #e96188;
}
.cid-rRWISseEAM .mbr-text {
  color: #767676;
}
.cid-rRWISseEAM .mbr-name {
  text-align: left;
}
.cid-rRWJdl5nan {
  padding-top: 30px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rRWJdl5nan .mbr-section-title {
  margin-bottom: 0;
  color: #ff3636;
  text-align: center;
}
.cid-rRWJdl5nan .mbr-iconfont {
  color: #ffffff;
  font-size: 1rem;
}
.cid-rRWJdl5nan .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rRWJdl5nan .mbr-iconfont:hover {
  color: #ff3636;
}
.cid-rRWJdl5nan .image-wrap {
  position: relative;
}
.cid-rRWJdl5nan .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rRWJdl5nan .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
  font-size: 16px;
}
.cid-rRWJdl5nan .card-wrap {
  margin-bottom: 3rem;
}
.cid-rRWJdl5nan .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rRWJdl5nan .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rRWJdl5nan .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rRWJdl5nan .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rRWJdl5nan .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rRWJdl5nan .img-overlay {
  background: linear-gradient(transparent, #232323);
  pointer-events: none;
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rRWJdl5nan .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rRWJdl5nan .mbr-role {
  color: #e96188;
}
.cid-rRWJdl5nan .mbr-text {
  color: #767676;
}
.cid-rRWJdl5nan .mbr-name {
  text-align: left;
}
#header4-y .display-1 {
  font-weight: 700;
}
#header4-y .lead {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
#header4-y .display-1 {
  font-weight: 700;
}
#header4-y .lead {
  color: #fff;
  /*text-transform: uppercase;*/
  margin-bottom: 0;
}
#header4-y .mbr-section-subtitle {
  text-align: left;
  color: #000000;
}
#header4-y .mbr-section-title {
  color: #ff3636;
}
